<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Dewi</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css' />
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Playfair+Display&family=Waterfall&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="js/bulmaFunction.js"></script>
</head>

<body class="body">
  <div class=''>
    <header class=''>
      <nav class='navbar' role='navigation' aria-label='main navigation' id="navbar">
        <div class='navbar-brand'>
          <a class='navbar-item' href='/'>
            <h1 class="is-size-1 has-text-light">DEWI</I></h1>
          </a>

          <a role='button' class='navbar-burger' aria-label='menu' aria-expanded='false'>
            <span aria-hidden='true' class="has-background-light"></span>
            <span aria-hidden='true' class="has-background-light"></span>
            <span aria-hidden='true' class="has-background-light"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a href="/search" class="navbar-item has-text-light">Search</a>
          </div>
          <div class="navbar-end">
            <a href="/shelf" class="navbar-item has-text-light">Shelf</a>
            {{#unless logged_in}}
            <a href="/login" class="navbar-item has-text-light">Login</a>
            <a href="/signup" class="navbar-item has-text-light">Sign Up</a>
            {{else}}
            <a class="navbar-item has-text-light" id="logoutButton">Logout</a>
            {{/unless}}
          </div>
        </div>
      </nav>
    </header>
    <main class='section mt-5 align-items-center'>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src='/js/logout.js'></script>
  {{/if}}

  <script src="public/js/intro.js"></script>
</body>

</html>