<section class="has-text-centered">
    <h1 class="title is-1 has-text-light">Welcome to Dewey!</h1>
    <h4 class="subtitle is-4 has-text-light">A Book recommendation and logging website!</h4>
    <h4 class="subtitle is-4 has-text-light">Find your next great read today!</h4>
    <div class="box">
        <h5 class="title is-5">Selected Tags</h5>
        <div class="block" id="usedTags">
            <span class="tag is-danger m-1 is-large">
                fanasty
                <button class="delete"></button>
            </span>
            <span class="tag is-danger m-1 is-large">
                adventure
                <button class="delete"></button>
            </span>
            <span class="tag is-danger m-1 is-large">
                historical fiction
                <button class="delete"></button>
            </span>
        </div>
        <div class="block">
            <button class="button is-medium is-success">Search for books!</button>
            </div>
        <form action="" class="field has-addons" id="tagFinder">
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="find tags" id="searchTag">
            </div>
            <div class="control">
                <button class="button is-info" type="submit">
                    Enter Tag
                </button>
            </div>
        </form>
        <h5 class="title is-5">Popular tags</h5>
        <div class="block" id="popularTags">
            <button class="button is-medium is-light">sci-fi</button>
            <button class="button is-medium is-light">fanasty</button>
            <button class="button is-medium is-light">history</button>
            <button class="button is-medium is-light">non-fiction</button>
            <button class="button is-medium is-light">biography</button>
        </div>
    </div>

</section>

<script src="js/homepage.js"></script>