<form class="box" id="login-form">
  <p class="subtitle is-5 has-text-weight-bold">Log in to view your Bookshelf</p>
  
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input class="input" type="username" id="login-name">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" id="login-pass">
    </div>
  </div>
  <button class="button is-dark" id="bookTag">Log In</button>

</form>

<script src="js/login.js"></script>