<div class="columns">
    <div class="column is-one-quarter">
        <div class="box has-text-centered">
            <h5 class="title is-5">Selected Tags</h5>
            <div class="block" id="usedTags">
                {{#each tags}}
                <span class="tag is-danger m-1 is-large">
                    {{this}}
                    <button class="delete"></button>
                </span>
                {{/each}}
            </div>
            <div class="block">
                <button class="button is-medium is-success" id="startSearch">Search for books!</button>
            </div>
            <form action="" class="field" id="tagFinder">
                <div class="control is-expanded">
                    <input class="input" type="text" placeholder="find tags" id="searchTag">
                </div>
            </form>
            <h5 class="title is-5">Popular tags</h5>
            <div class="block" id="popularTags">
                <button class="button is-medium is-light">Science Fiction</button>
                <button class="button is-medium is-light">Fantasy</button>
                <button class="button is-medium is-light">History</button>
                <button class="button is-medium is-light">Nonfiction</button>
                <button class="button is-medium is-light">Biography</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <p>searching for:</p>
            <div class="">
                {{#each tags}}
                <span class="tag is-danger is-medium">
                    {{this}}
                </span>
                {{/each}}
            </div>
        </div>
        <nav class="block is-flex is-justify-content-center">
            <a href="" class="button"id="previous">Previous</a>
            <button class="button mx-1"id="number">1-10 of 724</button>
            <a href="" class="button"id="next">Next Page</a>
        </nav>
        <div id="searchResultDisplay">
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/homepage.js"></script>
<script src="js/search.js"></script>