<div class="column" id="shelfdisplay">
    <div class="box">
        <h4 class="title is-4">Welcome, {{username}}, to your shelf! Where you can store your selected favorite books!</h4>
    </div>
</div>


<script src="/js/shelf.js"></script>

