

<div class="column">
        <div class="box">
            <h4 class="title is-4">Welcome to the shelf! where you can store your favorite books!</h4>
            </div>
        </div>

<div class="box p-0">
            <div class="columns  is-mobile m-0">
                <div class="column is-one-fifth">
                    <figure class="image">
                        <img
                            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1349098767l/1001204.jpg">
                    </figure>
                </div>
                <div class="column">
                    <div class="content">
                        <h4 class="title is-4">Anthropological studies of religion</h4>
                        <h5 class="title is-5">tags:
                            <span class="tag is-danger mt-1 is-medium">
                                fanasty
                                <button class="delete"></button>
                            </span>
                            <span class="tag is-danger mt-1 is-medium">
                                adventure
                                <button class="delete"></button>
                            </span>
                            <span class="tag is-danger mt-1 is-medium">
                                historical fiction
                                <button class="delete"></button>
                            </span>
                        </h5>
                        <a class="button"
                            href="https://www.amazon.com/s?k=Anthropological+studies+of+religion&i=stripbooks">Find it
                            on amazon</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box p-0">
            <div class="columns  is-mobile m-0">
                <div class="column is-one-fifth">
                    <figure class="image">
                        <img
                            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1349098767l/1001204.jpg">
                    </figure>
                </div>
                <div class="column">
                    <div class="content">
                        <h4 class="title is-4">Anthropological studies of religion</h4>
                        <h5 class="title is-5">tags:
                            <span class="tag is-danger mt-1 is-medium">
                                fanasty
                                <button class="delete"></button>
                            </span>
                            <span class="tag is-danger mt-1 is-medium">
                                adventure
                                <button class="delete"></button>
                            </span>
                            <span class="tag is-danger mt-1 is-medium">
                                historical fiction
                                <button class="delete"></button>
                            </span>
                        </h5>
                        <a class="button"
                            href="https://www.amazon.com/s?k=Anthropological+studies+of+religion&i=stripbooks">Find it
                            on amazon</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box p-0">
            <div class="columns  is-mobile m-0">
                <div class="column is-one-fifth">
                    <figure class="image">
                        <img
                            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1349098767l/1001204.jpg">
                    </figure>
                </div>
                <div class="column">
                    <div class="content">
                        <h4 class="title is-4">Anthropological studies of religion</h4>
                        <h5 class="title is-5">tags:
                            <span class="tag is-danger mt-1 is-medium">
                                fanasty
                                <button class="delete"></button>
                            </span>
                            <span class="tag is-danger mt-1 is-medium">
                                adventure
                                <button class="delete"></button>
                            </span>
                            <span class="tag is-danger mt-1 is-medium">
                                historical fiction
                                <button class="delete"></button>
                            </span>
                        </h5>
                        <a class="button"
                            href="https://www.amazon.com/s?k=Anthropological+studies+of+religion&i=stripbooks">Find it
                            on amazon</a>
                    </div>
                </div>
            </div>
        </div>